@use '@/shared/styles';

.textarea {
  @include styles.scroll-y;

  display: block;
  width: 100%;
  min-height: 48px;
  max-height: 140px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-primary);
  resize: none;
  background: transparent;
  border: 0;
  field-sizing: content;

  @include styles.text-input;

  &:focus-visible {
    outline: none;
  }
}
