@use '@/shared/styles';

.cell {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 9px 16px;
  text-align: left;
  cursor: pointer;
  background: var(--bg-primary);
  border: 0;

  &:focus-visible {
    outline-offset: -2px;
  }

  @include styles.hover {
    background: var(--cell-hover);
  }
}

.active,
.active:hover {
  background: var(--cell-selected);
}

.title {
  @include styles.ellipsis;

  font-weight: 500;
}
